/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #FF5722;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

/* Estilo para los productos */
.product-card {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    width: 70%; /* Ajusta el tamaño de la imagen */
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2em;
    color: #FF5722;
}

.add-to-cart {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #FF5722;
}

a.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #FF5722;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a.btn:hover {
    background-color: #FF5722;
    transform: scale(1.1);
}

/* Estilos para el carrito */
.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.remove-item {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-item:hover {
    background-color: #FF5722;
}

/* Estilos para el formulario de pago */
.payment-form form {
    display: flex;
    flex-direction: column;
}

.payment-form .form-group {
    margin-bottom: 20px;
}

.payment-form label {
    font-weight: bold;
}

.payment-form input {
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form .btn {
    background-color: #FF5722;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.payment-form .btn:hover {
    background-color: #FF5722;
}

footer {
    margin-top: 30px;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FF5722;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a.btn:hover {
    background-color: #E64A19;
    transform: scale(1.1);
}